# Arquivos de Build e Saída do Maven
# A pasta 'target' contém todos os arquivos compilados (.class) e o .jar final.
target/
# Arquivo POM gerado pelo maven-shade-plugin, não deve ser versionado.
dependency-reduced-pom.xml

# Arquivos de Pacotes e Binários
# Ignora arquivos de pacote se forem colocados acidentalmente fora da pasta 'target'.
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos de Log e Crash Dumps do Java
*.log
hs_err_pid*
replay_pid*

# Arquivos de Configuração de IDEs
# Ignora configurações específicas de editores de código para manter o projeto agnóstico.
*.iml
# Ignora a pasta do VSCode, mas permite o arquivo de configurações compartilhadas.
.vscode/*
!.vscode/settings.json

# Arquivos Temporários e de Backup
*.tmp
*.bak
*.swp
*~

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Documentação e Office
# Ignora arquivos do Microsoft Office (Word, Excel, PowerPoint).
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
